.left_bar_container {
  width: 100%;
  height: 100%;

  max-width: 275px;

  padding: 25px 12px 0 12px;

  border-right: 1px solid #ebebeb;
  background-color: #fff;
  display: flex;
  position: sticky;
  flex-direction: column;
}
.left_bar_link {
  margin: 12px 0 12px 0;
}

.left_bar_icon {
  font-size: 32px;
}

.right_bar_container {
  width: 100%;
  height: 100%;

  max-width: 375px;

  border-left: 1px solid #ebebeb;
  background-color: #fff;
}

.twitter_logo {
  font-size: 2rem;
  color: rgb(29, 155, 240);
}

.left_bar_ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  font-size: 20px;
  color: rgb(15, 20, 25);
  /* margin-top: ; */
}

.left_bar_ul_link {
  border: 0px solid;
  width: 150px;
  height: 40px; /* 퍼센트는 부모의 크기를 따라람 */

  height: 45px;
  display: flex;

  border-radius: 9999px;
}
.left_bar_ul_link_li {
  height: 40px;
  margin: 10px 0;
}

.left_bar_ul_link_div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 50px;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}
.left_bar_ul_link_div:hover {
  color: white;
  background-color: rgb(29, 155, 240);
}

.left_bar_ul_icons {
  font-size: 25px;
}

.left_bar_ul_span {
  margin-left: 5px;
}
