.auth {
  margin: 10% auto;
  text-align: center;
  width: 50%;
  height: 80%;
  /* background-color: aqua; */
}

.form_input {
  margin: 5px;
  width: 50%;
  height: 40px;
  border: 1px solid #dadce0;
  border-radius: 15px;
}

::placeholder {
  padding: 5%;
}

.loginBtn {
  margin: 8px 4px;
  height: 40px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  font-size: 0.8rem;
  letter-spacing: 0.25px;
  color: #3c4043;
}

.twitter_logo {
  margin-top: 3%;
  font-size: 2.5rem;
  color: rgb(29, 155, 240);
}

.google_logo {
  font-size: 1rem;
}

.github_logo {
  font-size: 1rem;
}
